.my-list {
	padding: 0;
	margin: 0;
	list-style: none;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.my-item {
	background: tomato;
	line-height: 150px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;

	height: 150px;
	width: 200px;
	padding: 5px;
	margin-top: 10px;


}